@charset "UTF-8";

@font-face {
  font-family: "untitled-font-1";
  src:url("fonts/untitled-font-1.eot");
  src:url("fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("fonts/untitled-font-1.woff") format("woff"),
    url("fonts/untitled-font-1.ttf") format("truetype"),
    url("fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-reddit:before {
  content: "\62";
}
.icon-sharethis:before {
  content: "\63";
}
.icon-youtube-alt:before {
  content: "\64";
}
.icon-whatsapp:before {
  content: "\65";
}
.icon-facebook:before {
  content: "\66";
}
.icon-github-alt:before {
  content: "\67";
}
.icon-mobileme:before {
  content: "\68";
}
.icon-twitter-alt:before {
  content: "\61";
}
.icon-announcement:before {
  content: "\69";
}
.icon-archive:before {
  content: "\6a";
}
.icon-arrow-down:before {
  content: "\6b";
}
.icon-arrow-left:before {
  content: "\6c";
}
.icon-arrow-right:before {
  content: "\6d";
}
.icon-arrow-up:before {
  content: "\6e";
}
.icon-at-symbol:before {
  content: "\6f";
}
.icon-book:before {
  content: "\70";
}
.icon-bookmark:before {
  content: "\71";
}
.icon-briefcase:before {
  content: "\72";
}
.icon-browser:before {
  content: "\73";
}
.icon-building:before {
  content: "\74";
}
.icon-calander:before {
  content: "\75";
}
.icon-clipboard:before {
  content: "\76";
}
.icon-clip:before {
  content: "\77";
}
.icon-cheveron-up:before {
  content: "\78";
}
.icon-cheveron-right:before {
  content: "\79";
}
.icon-cheveron-left:before {
  content: "\7a";
}
.icon-check-circle:before {
  content: "\41";
}
.icon-cheveron-down:before {
  content: "\42";
}
.icon-chat:before {
  content: "\43";
}
.icon-cart:before {
  content: "\44";
}
.icon-camera:before {
  content: "\45";
}
.icon-call-outgoing:before {
  content: "\46";
}
.icon-call-incoming:before {
  content: "\47";
}
.icon-call:before {
  content: "\48";
}
.icon-clock:before {
  content: "\49";
}
.icon-code:before {
  content: "\4a";
}
.icon-cog:before {
  content: "\4b";
}
.icon-comment:before {
  content: "\4c";
}
.icon-compass:before {
  content: "\4d";
}
.icon-currency-dollar:before {
  content: "\4e";
}
.icon-dashboard:before {
  content: "\4f";
}
.icon-desktop:before {
  content: "\50";
}
.icon-discount:before {
  content: "\51";
}
.icon-download:before {
  content: "\52";
}
.icon-duplicate:before {
  content: "\53";
}
.icon-edit:before {
  content: "\54";
}
.icon-emotion-happy:before {
  content: "\55";
}
.icon-folder-plus:before {
  content: "\56";
}
.icon-folder-minus:before {
  content: "\57";
}
.icon-folder:before {
  content: "\58";
}
.icon-flag:before {
  content: "\59";
}
.icon-filter:before {
  content: "\5a";
}
.icon-film:before {
  content: "\30";
}
.icon-file-plus:before {
  content: "\31";
}
.icon-file-minus:before {
  content: "\32";
}
.icon-file-blank:before {
  content: "\33";
}
.icon-file:before {
  content: "\34";
}
.icon-external-link:before {
  content: "\35";
}
.icon-exclamation:before {
  content: "\36";
}
.icon-emotion-sad:before {
  content: "\37";
}
.icon-globe:before {
  content: "\38";
}
.icon-graph-bar:before {
  content: "\39";
}
.icon-grid:before {
  content: "\21";
}
.icon-group:before {
  content: "\22";
}
.icon-hashtag:before {
  content: "\23";
}
.icon-heart:before {
  content: "\24";
}
.icon-help:before {
  content: "\25";
}
.icon-home:before {
  content: "\26";
}
.icon-image:before {
  content: "\27";
}
.icon-inbox:before {
  content: "\28";
}
.icon-information:before {
  content: "\29";
}
.icon-key:before {
  content: "\2a";
}
.icon-link:before {
  content: "\2b";
}
.icon-more-horiz:before {
  content: "\2c";
}
.icon-moon:before {
  content: "\2d";
}
.icon-mobile:before {
  content: "\2e";
}
.icon-minus-square:before {
  content: "\2f";
}
.icon-minus-circle:before {
  content: "\3a";
}
.icon-microphone:before {
  content: "\3b";
}
.icon-minus:before {
  content: "\3c";
}
.icon-menu:before {
  content: "\3d";
}
.icon-map:before {
  content: "\3e";
}
.icon-mail:before {
  content: "\3f";
}
.icon-lock-open:before {
  content: "\40";
}
.icon-lock-closed:before {
  content: "\5b";
}
.icon-location:before {
  content: "\5d";
}
.icon-music:before {
  content: "\5e";
}
.icon-news:before {
  content: "\5f";
}
.icon-notification:before {
  content: "\60";
}
.icon-plus:before {
  content: "\7b";
}
.icon-plus-circle:before {
  content: "\7c";
}
.icon-plus-square:before {
  content: "\7d";
}
.icon-print:before {
  content: "\7e";
}
.icon-puzzle:before {
  content: "\5c";
}
.icon-refresh:before {
  content: "\e000";
}
.icon-repeat:before {
  content: "\e001";
}
.icon-rocket:before {
  content: "\e002";
}
.icon-search:before {
  content: "\e003";
}
.icon-server:before {
  content: "\e004";
}
.icon-user:before {
  content: "\e005";
}
.icon-upload:before {
  content: "\e006";
}
.icon-trophy:before {
  content: "\e007";
}
.icon-trending-up:before {
  content: "\e008";
}
.icon-trending-down:before {
  content: "\e009";
}
.icon-trash:before {
  content: "\e00a";
}
.icon-thumb-up:before {
  content: "\e00b";
}
.icon-thumb-down:before {
  content: "\e00c";
}
.icon-tag:before {
  content: "\e00d";
}
.icon-tablet:before {
  content: "\e00e";
}
.icon-store:before {
  content: "\e00f";
}
.icon-star:before {
  content: "\e010";
}
.icon-speaker:before {
  content: "\e011";
}
.icon-user-check:before {
  content: "\e012";
}
.icon-user-minus:before {
  content: "\e013";
}
.icon-user-plus:before {
  content: "\e014";
}
